*
{
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:12pt;
	color:#000;
	height:297mm;
}
body
{
	height:297mm;
	width:100%;
	font-family:Arial;
	font-size:12pt;
	margin:0;
	padding:0;
}

.detil{
	position:relative;
	height:297mm;
	
	*border:2px solid green;
}

.detil table.myTable {
	/*border-collapse: collapse;
	border: 1px solid black;*/
	*letter-spacing:0.4em;
	font-family:Tahoma, Geneva, sans-serif;
	overflow:wrap;
	width:100%;
	page-break-inside: avoid;
}

.detil table.myTableBorder {
	/*border-collapse: collapse;
	border: 1px solid black;*/
	*letter-spacing:0.4em;
	font-family:Tahoma, Geneva, sans-serif;
	overflow:wrap;
	width:100%;
	page-break-inside: avoid;
	border:solid 1px #000;
}

.detil table.myTableBorder td
{
	border:solid 1px #000;
}

.detil table.myTable td{
	vertical-align:top;
}

.table1 {
	border: 1px solid #000;
	border-collapse: collapse;
}

.table2 {
	border: 1px solid #000;
	border-collapse: collapse;
}

.table2 thead {
	font-size:14px; 
	font-weight:600;
	text-align:center;
}

.border{
	border: 1px solid #000;
}

.center
{
	text-align:center
}

.paddingleftdetil
{
	padding-left:10px;
}

.rotate
{
	-webkit-transform: rotate(-180deg);        
	-moz-transform: rotate(-180deg);            
	-ms-transform: rotate(-180deg);         
	-o-transform: rotate(-180deg);         
	transform: rotate(-180deg);
	writing-mode: vertical-lr;
}