/*
html{
	margin:0 0;
	
}
body{
	margin:0 0;
	
	
}*/
#header{
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:22px
}

.logo-garuda{
	
}
.logo-garuda img{
	width:80px;
	margin:20px 0 5px;
}
.tengah {
	text-align:center;
}

#kop{
	
}
#kop table{
	border-collapse:collapse;
	width:40%;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}

#detil table{
	border-collapse: collapse;
	border: 1px solid black;
	width:100%;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
#detil table th{
	border: 1px solid black;
	padding:4px 10px;
}
#detil table td{
	border: 1px solid black;
	padding:4px 10px;
	height:40px;
}

#hal3 table{
	border-collapse: collapse;
	border: 1px solid black;
	width:100%;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
#hal3 table th{
	padding:4px 10px;
}
#hal3 table td{
	padding:4px 10px;
	height:40px;
}

#rekomendasi table{
	border-collapse: collapse;
	border: 1px solid black;
	width:100%;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
#rekomendasi table th{
	padding:4px 10px;
}
#rekomendasi table td{
	padding:4px 10px;
}

#footer{
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:18px
}
#footer table{
	border-collapse:collapse;
	width:100%;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
}
