@font-face {
	font-family: 'Open SansRegular';
	src: url('../font/OpenSans/OpenSans-Regular-webfont.eot');
	src: url('../font/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../font/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../font/OpenSans/OpenSans-Regular-webfont.svg#Open SansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueUltraLight';
	src: url('../font/HelveticaNeue/HelveticaNeue-UltraLight.eot');
	src: url('../font/HelveticaNeue/HelveticaNeue-UltraLight.woff') format('woff'), url('../font/HelveticaNeue/HelveticaNeue-UltraLight.ttf') format('truetype');
}


* {
	
padding: 0;
margin: 0;
}
html{
	height:100%;
	min-height:100%;
}
html, body {
	height: 100%;
	overflow-x:hidden;
	
	min-height: -moz-calc(100% - 10px);
    min-height: -webkit-calc(100% - 10px);
    min-height: -o-calc(100% - 10px);
    min-height: calc(100% - 10px);
	
}
body {
	font-family: 'Open SansRegular';
	font-size:14px;
	
}
h1 {
	font-size: 1.4em;
	padding: 10px 10px 0;
}
p {
	padding: 0 10px 1em;
}
#kontainer {
	min-height: 100%;
	height:100%;
	
	/*min-height: -moz-calc(100% - 10px);
    min-height: -webkit-calc(100% - 10px);
    min-height: -o-calc(100% - 10px);
    min-height: calc(100% - 10px);*/

	/*background-color: #DDD;*/
	/*border-left: 2px solid #666;
	border-right: 2px solid #666;*/
	width: 100%;
	margin: 0 auto;
}
/** html #container {
	height: 100%;
}*/

#header{
	position:relative;
	
	height:80px;
	background:#FFF;
	text-align:right;
}
#header-login{
	position:relative;
	
	height:120px;
	/*padding-top:10px;*/
	background:#FFF;
}
#title-aplikasi{
	float:left;
	padding-left:50px;
	height:80px;
	line-height:100px;
}
#logo{
	float:right;
	height:75px;
	padding-top:5px;
}
#login-area{
	position:relative;
	z-index:5;
	/*background:#9C0; */
	width:250px;
	
	padding-left:30px;
	/*height:356px;*/
	/*margin:80px auto 0;*/
	
	/*background: #FFF;*/	
	/* fallback */ 
	/*background-color: #26bfff; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	/* Safari 4-5, Chrome 1-9 *
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#26bfff), to(#ab3035)); 	
	/* Safari 5.1, Chrome 10+ * 
	background: -webkit-linear-gradient(top, #26bfff, #ab3035); 	
	/* Firefox 3.6+ *
	background: -moz-linear-gradient(top, #26bfff, #ab3035); 	
	/* IE 10 *
	background: -ms-linear-gradient(top, #26bfff, #ab3035); 	
	/* Opera 11.10+ *
	background: -o-linear-gradient(top, #26bfff, #ab3035);*/
	
	/*-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	box-shadow: 0 0 4px 1px #000000;*/

}
#login-area input[type = text],
#login-area input[type = password],
#inline1 input[type = password]{

	width:210px;
	height:40px;
	/*border:1px solid #dbdee3;*/
	border:none;
	margin-bottom:14px;
	padding-left:20px;
	padding-right:20px;	
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#login-area input[type = submit], #inline1 input[type = submit]{
	width:250px;	
	height:40px;
	
	/* fallback */ 
	background-color: #97111E; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#97111E), to(#760613)); 	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #97111E, #760613); 	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #97111E, #760613); 	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #97111E, #760613); 	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #97111E, #760613);
	
	color:#FFF;
	font-size:14px;
	border:none;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
}
#login-area-bawah{
	background:#f5f7f8; border-top:1px solid #dbdee3; height:45px; line-height:45px; padding-left:20px; color:#b3b0ae;
	font-size:12px;
}
#login-area-bawah img{
	vertical-align:middle;
	margin-right:10px;
}
#inline1 input{ color:#81ab30;}

#footer{
	position:absolute;
	bottom:0;
	/*background:url(../images/hr-footer.png) top center no-repeat;*/
	width:100%;
	height:70px;
}
#footer-login{
	position:absolute;
	bottom:0;
	background:#FFF;
	width:100%;
	height:120px;
}
#footer2{
	/*position:absolute;
	bottom:0;*/
	background:#97111E;
	width:280px;
	height:55px;
	padding-top:15px;
	text-align:right;
	
	color:#FFF;
	padding-right:20px;
	
}
#footer2 span{
	font-weight:bold;
}

#footer-kiri{
	float:left;
	font-size:13px;
	padding-top:14px;
	padding-left:50px;
}
#footer-kiri span{
	font-weight:bold;
}
#footer-kanan{
	float:right;
	color:#FFF;
	font-size:13px;
	padding-top:14px;
	padding-right:10px;
	text-align:right;
}
#footer-kanan span{
	font-weight:bold;
}

#footer-waktu{
	background:url(../images/bg-footer.png) left no-repeat;
	float:left;
	padding-top:20px;
	height:50px;	
	
	/*width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: -o-calc(100% - 300px);
    width: calc(100% - 300px);*/
	
	position:absolute;
	bottom:0;
	width:100%;

}
#footer-waktu-icon{
	float:left;
	margin-left:20px;
	padding-top:5px;
}
#footer-waktu-icon img{
	vertical-align:middle;
}
#footer-waktu-jam{
	float:left;
	margin-left:20px;
	color:#FFF;
	
	font-family: 'HelveticaNeueUltraLight';
	font-size:48px;
	
	margin-top:-10px;
}
#footer-waktu-tgl{
	float:left;
	margin-left:10px;
	color:#FFF;
}

/****/

#akun-area{
	float:left;
	height:50px;
	padding-top:20px;
	padding-left:20px;
	/*background:#9F6;
	
	width: -moz-calc(100% - 700px);
    width: -webkit-calc(100% - 700px);
    width: -o-calc(100% - 700px);
    width: calc(100% - 700px);*/
}
#akun-icon{
	float:left;
	line-height:60px;
}
#akun-nama{
	float:left;
	margin-left:10px;
	text-align:left;
}
#akun-nama span{
	color:#999;
}
#akun-nama a{
	color:#999;
	text-decoration:none;
	
}
#akun-nama a:hover{
	color:#97111E;
}
/*#akun-area{
	float:left;
	width:100%;
	padding-top:20px;
	padding-bottom:14px;
	background: #e7eaee	;
	border-bottom:1px solid #dbdee3;
}
#akun-area-foto{
	float:left;
	width:220px;
	text-align:right;
	
}
#akun-area-foto img{
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}
#akun-area-setting{
	float:right;
	padding-top:30px;
	width: -moz-calc(100% - 220px);
    width: -webkit-calc(100% - 220px);
    width: -o-calc(100% - 220px);
    width: calc(100% - 220px);
	
	text-align:center;
}
#akun-area-ket{
	float:left;
	width:100%;
	text-align:center;
	color:#77726f;
	font-size:14px;
}
#akun-area-ket span{
	font-weight:bold;
}*/

/****/

#berita-list{
	float:left;
	width:100%;
	border-bottom:1px solid #dbdee3;
	padding-top:5px;
}
#berita-thumb{
	float:left;
	width:90px;
}
#berita-thumb img{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
#berita-ket{
	float:right;
	width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: -o-calc(100% - 90px);
    width: calc(100% - 90px);

}
#berita-tgl,
#rapat-tgl{
	color:#77726f;
	font-size:12px;
}
#berita-tgl span,
#rapat-tgl span{
	color:#b3b3b3;
}

#berita-judul,
#rapat-judul{
	color:#77726f;
	font-size:14px;
}
#berita-judul a, #rapat-judul a{ color:#77726f; text-decoration:none;}
#berita-judul a:hover, #rapat-judul a:hover{ color:#333; text-decoration:none;}
#berita-judul a span, #rapat-judul a span{ color:#ab3035; text-decoration:none;}

#berita-judul-main{
	text-transform:uppercase;
	margin-bottom:10px;
}
#berita-tgl-main,
#rapat-tgl-main{
	color:#81ab30;
	font-size:12px;
}

#berita-isi{
	
}

/****/

#rapat-list{
	float:left;
	width:100%;
	border-bottom:1px solid #dbdee3;
	padding-top:5px;
	padding-bottom:10px;
}

/****/

#faq-box{
	margin-bottom:10px;
}
#faq-tanya{
	background:#dedfe0;
	color:##77726f;
	padding:10px 20px;
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
#faq-tanya img{
	vertical-align:middle;
}
#faq-jawab{
	background:#ab3035;
	color:#FFF;
	padding:10px 20px;
	
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

/****/

#selengkapnya{
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	text-align:right;
}
#selengkapnya a{ color:#77726f; text-decoration:none;}
#selengkapnya a:hover{ color:#333; text-decoration:none;}
#selengkapnya a span{ color:#ab3035; text-decoration:none;}

#kembali{
	float:left;
	width:100%;
	margin-top:10px;
	text-align:left;
}
#kembali a{ color:#77726f; text-decoration:none;}
#kembali a:hover{ color:#333; text-decoration:none;}
#kembali a span{ color:#ffe326/*81ab30*/; text-decoration:none;}

/****/

#agenda-list{
	float:left;
	width:100%;
	border-bottom:1px solid #dbdee3;
	padding-top:5px;
	padding-bottom:10px;
}
#agenda-tgl{
	float:left;
	text-align:center;
	width:38px;
	height:40px;
	line-height:40px;
	font-size:24px;
	color:#ab3035;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #ab3035;
	
	margin-right:10px;
}
#agenda-ket{
	float:right;
	width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -o-calc(100% - 50px);
    width: calc(100% - 50px);
}
#agenda-bulan{
	color:#b3b3b3;
	font-size:12px;
}
#agenda-bulan-main{
	color:#ab3035;
	font-size:12px;
}
#agenda-judul a{ color:#77726f; text-decoration:none;}
#agenda-judul a:hover{ color:#333; text-decoration:none;}
#agenda-judul a span{ color:#ab3035; text-decoration:none;}

/****/

#konten{
	float:left;
	width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
	padding:18px 20px;
}
#konten p{
	margin-bottom:8px;
}
#konten-inner{
	float:left;
	background:url(../images/bg-putih-opacity.png);
	width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);
	padding:18px 20px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/****/

#judul-main{
	margin-left:45px;
	margin-top:18px;
	color:#FFF;
	text-transform:uppercase;
	font-size:24px;
	
	text-shadow:0px 1px 2px #808080;
	/*-moz-box-shadow:    0px 0px 3px 1px #808080;
	-webkit-box-shadow: 0px 0px 3px 1px #808080;
	box-shadow:         0px 0px 3px 1px #808080;*/
}
#judul-main span{
	font-weight:bold;
}

/*****************************************************/

#konten-kiri-area{
	
	text-align:center;
	
	
	/*width:100%;
	
	
	position:relative;
	z-index:999;
	
	margin-top:0px;*/
	
	height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);
	
	
}
#logo-kiri-area{
	
	text-align:center;
	
	
	/*width:100%;
	
	
	position:relative;
	z-index:999;
	
	margin-top:0px;*/
	
	height: -moz-calc(100% - 370px);
    height: -webkit-calc(100% - 370px);
    height: -o-calc(100% - 370px);
    height: calc(100% - 370px);
	
	/*background:#F90;*/
	
}
#area-notifikasi{
	
	/*height:300px;*/
	
	height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);
	
	position:relative;
	padding:0 10px;
	background:url(../images/bg-notifikasi.png) top center no-repeat;
	
	/*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/
}
#frame-area{
	height:100%;
	min-height:100%;
	
	
	/*height: -moz-calc(100% - 5px);
    height: -webkit-calc(100% - 5px);
    height: -o-calc(100% - 5px);
    height: calc(100% - 5px);
	
	min-height: -moz-calc(100% - 5px);
    min-height: -webkit-calc(100% - 5px);
    min-height: -o-calc(100% - 5px);
    min-height: calc(100% - 5px);*/
	
}
#frame-area iframe{
	width:100%;
	height:100%;
	min-height:100%;
	display:block;
	border:none;

}

/** SISI KIRI KANAN MAIN **/
#sisi-kiri-main{
	width:300px;
	
	min-height: calc(100% - 80px);
	/*max-height: calc(100% - 80px);*/
	
	height: calc(100% - 90px);
	background: #FFF url(../images/bg-kiri.png) bottom left no-repeat;
	
	float:left;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
#sisi-kiri-main.hidden{
	width:0px;
}

#sisi-kanan-main {
	/*max-height: calc(100% - 80px);*/
	/*min-height: calc(100% - 80px);*/
	
	height: -moz-calc(100% - 80px);
	height: -webkit-calc(100% - 80px);
	height: -o-calc(100% - 80px);
	height: calc(100% - 80px);
	
	min-height: -moz-calc(100% - 80px);
	min-height: -webkit-calc(100% - 80px);
	min-height: -o-calc(100% - 80px);
	min-height: calc(100% - 80px);
	
	width: calc(100% - 300px);
	/*height:100%;*/
	
	float:right;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
	
}

#sisi-kanan-main.hidden {
	width: calc(100% - 0px);
}


/** SISI KIRI & KANAN **/

#sisi-kiri{
	width:300px;
	
	min-height: calc(100% - 80px);
	/*max-height: calc(100% - 80px);*/
	
	height: calc(100% - 90px);
	/*background: #FFF url(../images/bg-kiri.png) bottom left no-repeat;*/
	background: #999 url(../images/bg-kiri-popup.png) bottom left no-repeat;
	float:left;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
#sisi-kiri.hidden{
	width:0px;
}

#sisi-kanan {
	/*max-height: calc(100% - 80px);*/
	/*min-height: calc(100% - 80px);*/
	
	height: -moz-calc(100% - 80px);
	height: -webkit-calc(100% - 80px);
	height: -o-calc(100% - 80px);
	height: calc(100% - 80px);
	
	min-height: -moz-calc(100% - 80px);
	min-height: -webkit-calc(100% - 80px);
	min-height: -o-calc(100% - 80px);
	min-height: calc(100% - 80px);
	
	width: calc(100% - 300px);
	/*height:100%;*/
	
	float:right;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
	
}

#sisi-kanan.hidden {
	width: calc(100% - 0px);
}



button.sidebar{
	background:url(../images/left-right-arrow.png);
	/*width:200px;
	height:60px;*/
	width: 30px;
	height:30px;
	/*margin-top:10px;*/
	border:none;
	
	position:fixed; cursor:pointer; /*margin-left:110px;*/
}

/** POPUP KIRI & KANAN **/

#popup-kiri{
	width:300px;
	
	min-height: calc(100% - 0px);
	/*max-height: calc(100% - 80px);*/
	
	height: calc(100% - 10px);
	background: #97111E url(../images/bg-kiri-popup.png) bottom left no-repeat;
	float:left;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
#popup-kiri.hidden{
	width:0px;
}

#popup-kanan {
	/*max-height: calc(100% - 80px);*/
	/*min-height: calc(100% - 80px);*/
	
	height: -moz-calc(100% - 0px);
	height: -webkit-calc(100% - 0px);
	height: -o-calc(100% - 0px);
	height: calc(100% - 0px);
	
	min-height: -moz-calc(100% - 0px);
	min-height: -webkit-calc(100% - 0px);
	min-height: -o-calc(100% - 0px);
	min-height: calc(100% - 0px);
	
	width: calc(100% - 300px);
	/*height:100%;*/
	
	float:right;
	overflow:auto;
	
	-webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
	
}

#popup-kanan.hidden {
	width: calc(100% - 0px);
}

button.sidebar{
	background:url(../images/left-right-arrow.png);
	/*width:200px;
	height:60px;*/
	width: 30px;
	height:30px;
	/*margin-top:10px;*/
	border:none;
	
	position:fixed; cursor:pointer; /*margin-left:110px;*/
}

/**/
#popup-frame-area{
	height:100%;
	min-height:100%;
}
.frame-atas{
	border: none;
	width:100%;
	background:#f4f4f4 url(../images/bg-kanan-atas.png) bottom right no-repeat;
	height:100%;
	display:block;
}
.frame-bawah{
	border: none;
	width:100%;
	/*background:#ceefff;*/
	background:#f4f4f4 url(../images/bg-kanan-bawah.png) top right no-repeat;
	height:100%;
	display:block;	
}
#popup-frame-area iframe#frame-full{
	border: none;
	width:100%;
	/*background:#ceefff;*/
	background:#f4f4f4 url(../images/bg-kanan-full.png) bottom right no-repeat;
	height:100%;
	display:block;	
}

/**/
#menu-kiri{
	text-align:left;
	background:#A91D2F;
}
#menu-kiri div{
	height:29px;
	border-top:1px solid #B32235;
	border-bottom:1px solid #900D20;
}
#menu-kiri div a{
	line-height:29px;
	padding:0 20px;
	display:block;
	color:#FFF;
	text-decoration:none;
}
#menu-kiri div a:hover{
	color:#ceefff;
	background:#D2344C;
}
#judul-popup{
	/*background:#0272a7 url(../images/bg-judul-popup.png) bottom left no-repeat;*/
	
	background-color: #97111E; 
	background-repeat: repeat-y;
	background: -webkit-gradient(linear, left top, right top, from(#97111E), to(#A61F31)); 
	background: -webkit-linear-gradient(left, #97111E, #A61F31); 
	background: -moz-linear-gradient(left, #97111E, #A61F31); 
	background: -ms-linear-gradient(left, #97111E, #A61F31); 
	background: -o-linear-gradient(left, #97111E, #A61F31);
	
	border-bottom:1px solid #00405e;
	
	color:#FFF;
	text-transform:uppercase;
	height:30px;
	line-height:30px;
	padding-left:50px;
}

/***/

#popup-tabel table{
	border-collapse:collapse;
	border:0px solid #960;
}
#popup-tabel table th{
	padding:4px 10px;
	/*border:1px solid #d3d3d3;*/
	background:#97111E;
	color:#FFF;
}
#popup-tabel table td{
	padding:4px 10px;
	border:1px solid #ececec;
	background:#fbfbfb;
}

/****/
#bar-popup{
	height:30px;
	line-height:30px;
	
	/* fallback */ 
	background-color: #eeeeee; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e4e4e4)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #eeeeee, #e4e4e4);
	
	/*background:#F63;*/
}
#bar-popup input[type = button]
{
	height:30px;
	background:#C0440F;
	/*background-color:transparent;*/
	color:#FFF;
	padding:0 10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	
	
}
#bar-popup input[type = submit]
{
	height:30px;
	/*background:#005279;*/
	color:#015a85;
	padding:0 10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	
	/* fallback */ 
	background-color: #eeeeee; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#e4e4e4)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #eeeeee, #e4e4e4); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #eeeeee, #e4e4e4);
}

/****/

input[type = submit]
{
	height:30px;
	/*background:#005279;*/
	color:#015a85;
	padding:0 10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	/* fallback */ 
	background-color: #eeeeee; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#dedede)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #eeeeee, #dedede); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #eeeeee, #dedede); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #eeeeee, #dedede); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #eeeeee, #dedede);
}
input[type = reset]{
	height:30px;
	/*background:#79003f;*/
	color:#015a85;
	padding:0 10px;
	border:none;
	font-size:14px;
	text-transform:uppercase;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	/* fallback */ 
	background-color: #eeeeee; background: url(images/linear_bg_2.png); background-repeat: repeat-x; 
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#dedede)); 
	
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #eeeeee, #dedede); 
	
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #eeeeee, #dedede); 
	
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #eeeeee, #dedede); 
	
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #eeeeee, #dedede);
}

/***/

#popup-tabel2 table{
	border-collapse:collapse;
	border:0px solid #960;
}
#popup-tabel2 table th{
	padding:4px 10px;
	/*border:1px solid #d3d3d3;*/
	background:#97111E;
	color:#FFF;
}
#popup-tabel2 table td{
	padding:2px 8px;
}
#popup-tabel2 table td:nth-child(1){
	padding-left:0;
}

input[type = text],
input[type = password]
{
	font-family: 'Open SansRegular';
	font-size:12px;
	padding:1px 2px 2px;
	border:1px solid #95b8e7;
}

textarea, select{
	font-family: 'Open SansRegular';
	font-size:12px;
	padding:1px 2px 2px;
	border:1px solid #95b8e7;
}

/****/

.bg-kanan-full{
	background:url(../images/bg-kanan-full.png) bottom right no-repeat;
	/*background-size:100% 100%;*/
}
.bg-kanan-atas{
	background:url(../images/bg-kanan-atas.png);
	background-size:100% 100%;
}
.bg-kanan-bawah{
	background:url(../images/bg-kanan-bawah.png);
	background-size:100% 100%;
}

/****/
#apk-download{
	float:right;
	height:120px;
	line-height:120px;
}
#apk-download a{
	height:120px;
	line-height:120px;
	display:block;
	text-decoration:none;
}
#apk-download img{
	vertical-align:middle;
	line-height:120px;
}




