.paging_nav{}

.pagesLL{
	display:block;
	width:100%;
	text-align:center;
	margin-top:18px;
}

span.nextprev{
	background:#f0f0f0;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
span.current{
	/*background:#a10015;*/
	background:#76080e;
	
	color:#FFF;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.pagesLL-margin a{
	background:#a1a1a1;
	color:#FFF;
	padding:5px 10px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

